/*variables:  visual identity/branding colors*/

:root {
    --body-color: black;
    --feature-color1: #A1659A;
    --feature-color2: #039281;
    --feature-color3: #F46554;
    /*#F95738*/
    --text-color: rgb(241, 241, 241);
    ;
}

.pre-footer {
    height: 20%;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 200vw;
    height: 100vh;
    object-fit: cover;
    z-index: -100000;
}

.corner {
    z-index: 100000000000000000000000;
    width: 10.5%;
    position: absolute;
    right: 0vw;
    bottom: 0;
}

.background-colour {
    background-color: var(--body-color);
}

body {
    color: var(--text-color);
    background-color: var(--body-color);
}


/* * means apply those styles to all elements*/

* {
    /*  font-family: "bahnschrift", sans-serif;*/
    font-family: "bahnschrift";
    margin: 0;
    padding: 0;
    color: var(--text-color);
    scroll-behavior: smooth;
    /*Smooth: scrolls in a smooth fashion using a user-agent-defined timing function over a user-agent-defined period of time. */
    box-sizing: border-box;
    /*If you set box-sizing: border-box; on an element, padding and border are included in the width and height:*/
    scroll-padding-top: 2rem;
}

.page {
    width: 100%;
    height: 100%;
    min-width: 100%;
    z-index: -1000;
}

.first-panel {
    padding-top: 5%;
    background-color: none;
}


/*
.panel {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100vh;
    max-height: 100vh;
    min-width: 100vh;
    justify-content: space-between;
    align-items: center;
    margin: 0 5% 0 5%;
}*/

.textfeature1 {
    color: var(--feature-color1);
}

.textfeature2 {
    color: var(--feature-color2);
}

.textfeature3 {
    color: var(--feature-color3);
}

.cover-flex {
    max-width: 65%;
    width: fit-content;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    transform: translate(-27.5vw, -25vh);
    max-height: 50vh;
    z-index: 100;
    left: 40vw;
    top: 50vh;
    column-gap: 3%;
}

.col {
    width: fit-content;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverimage {
    object-fit: contain;
    max-height: 90%;
    max-width: 90%;
    z-index: 105;
    border-radius: 100%;
}

img {
    max-width: 90%;
    max-height: 90%;
}

.largeimage {
    max-width: 90%;
    max-height: 90%;
}

.bottom-justified {
    justify-content: end;
    align-items: end;
}

.center-justified {
    align-content: center;
    justify-content: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 3em;
    height: 100%;
    width: 100%;
}

.internal-cover-flex {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    height: 100%;
}

.top-item {
    display: flex;
    align-items: flex-end;
    /* Align content to the bottom edge of the top item */
    justify-content: center;
    height: 50%;
    /* Ensure the bottom of this item aligns with the center */
    /* For demonstration */
    width: 100%;
    /* Optional: Match parent width */
    padding-bottom: 10px;
}

.bottom-item {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    /* Align content to the top edge of the bottom item */
    justify-content: center;
    height: 50%;
    /* Ensure the top of this item aligns with the center */
    /* For demonstration */
    width: 100%;
    /* Optional: Match parent width */
}

.smallerh1 {
    font-size: 3.5em;
}

.right-aligned {
    text-align: right;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 3em;
}

h3 {
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}

p {
    font-size: 1.2em;
    line-height: 1.2;
}

.narrow-message {
    max-width: 60%;
}


/* width 

::-webkit-scrollbar {
    width: 20px;
}*/


/* Track 
 ::-webkit-scrollbar-track {
    background-color: var(--feature-color2);
}*/


/* Handle

 ::-webkit-scrollbar-thumb {
    background: var(--text-color);
} */


/*Nav Bar*/

.nav_container_container {
    background-color: var(--light-feature-color2) !important;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    padding-bottom: 1rem;
    width: 100%;
    z-index: 1000000;
}

.nav_container {
    display: flex;
    background-color: none;
    color: inherit;
    align-items: center;
    padding-top: 0rem;
    justify-content: space-between;
    width: 100%;
    position: relative;
    flex-direction: row;
    z-index: 1000000;
}

.links {
    display: flex;
    background-color: none;
    color: var(--text-color);
    align-items: center;
    justify-content: space-between;
    min-width: 40%;
    z-index: 1000000;
    padding-left: 30px;
    padding-right: 30px;
}

.socials {
    width: 15%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    background-color: none;
    justify-content: center;
    color: inherit;
    align-items: center;
    font-size: 3em;
    right: 0;
}

.socials img {
    height: 75px;
}

.nav_active {
    color: var(--light-feature-color1) !important;
    font-weight: 700;
}

.nav_item,
a {
    text-decoration: none;
    font-weight: 1000;
    color: var(--text-color);
}

.nav_item:hover {
    color: var(--light-feature-color3);
    transition: 0.3s all linear;
    transform: scale(1.1);
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 2em;
    font-size: 3em;
}

.buttons button {
    border: none;
    font-size: 0.5em;
    background-color: var(--feature-color2);
    padding: 0.3em;
    border-radius: 5%;
}

.gallery {
    margin: 2em;
}

.transparent-cover {
    background-color: #00000084;
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    opacity: 0;
    height: 100vh;
    z-index: 50;
}

body {
    overflow-x: hidden;
}

.cover {
    left: 0%;
    top: 0%;
    position: relative;
    background-color: inherit;
}

.box,
.box2 {
    display: block;
    font-size: 2.4em;
    color: black;
}

.comparisonSection {
    position: relative;
    padding-bottom: 56.25%;
    /* to maintain aspect ratio (responsive!) */
}

.comparisonImage {
    width: 100%;
    height: 100%;
}

.afterImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    transform: translate(100%, 0px);
}

.afterImage img {
    transform: translate(-100%, 0px);
}

.comparisonImage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}


/*
.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}*/

.cover-vid {
    width: 130vh;
    height: 90vh;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    position: relative;
    right: -300px;
    transform: translateY(-50%);
}

.circular-img {
    width: 60vh;
    height: 60vh;
    object-fit: cover;
    border-radius: 100%;
    position: relative;
    top: 0%;
}

.top {
    width: 110vh;
    position: absolute;
    top: 64px;
    right: 30px;
}

h1 {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    line-height: 0.8;
    font-size: 5.2em;
    font-weight: bolder;
    text-transform: uppercase;
}

.tree-spine {
    position: absolute;
    left: 5%;
    top: 80vh;
    width: 4px;
    height: 5000px;
    background-color: #333;
    /* Dark color for the spine */
    transform: translateX(-50%);
    z-index: -1;
}

.branch {
    position: absolute;
    width: 30vw;
    height: 3px;
    border: #000000 dashed 3px;
    opacity: 0;
    transform-origin: left center;
    will-change: transform, opacity;
}


/* Position and angle each branch */

.branch1 {
    top: 60vh;
    transform: rotate(1deg) translateX(100px);
    right: 50%;
}

.branch2 {
    top: 1000vh;
    transform: rotate(1deg) translateX(-100px);
}

.branch3 {
    top: 180vh;
    width: 40vh;
    transform: rotate(1deg) translateX(100px);
}

.branch4 {
    top: 200vh;
    transform: rotate(1deg) translateX(-100px);
}


/* Add a transition to help the branches move in/out smoothly */

.branch {
    transition: opacity 0.5s ease, transform 0.5s ease;
}


/*
.panel {
    width: 100%;
    height: 100%;
    z-index: -100;
    position: absolute;
    left: 0;
}*/

.yellow {
    background-color: none;
}

.green {
    background-color: rgb(147, 205, 156);
}

.blue {
    background: rgb(153, 153, 179);
}

.white {
    background: rgb(253, 253, 255);
}

.red {
    background: red;
}

.purple {
    background: none;
}

.container {
    display: flex;
    height: 100vh;
    width: 200vw;
    /* Width to accommodate two panels side-by-side */
}

.container-50,
.container-backwards-50 {
    display: flex;
    height: 100vh;
    width: 200vw;
    /* Width to accommodate two panels side-by-side */
}

.container-backwards-50 {
    left: -100vw;
    background-color: none;
    /* Width to accommodate two panels side-by-side */
}

.panel {
    flex: 0 0 100vw;
    height: 100vh;
}

.static-panel {
    height: 100vh;
}

.blue {
    background-color: blueviolet
}

.middle-top-left-spine {
    width: 50vw;
    height: 50vh;
    left: 25%;
    top: 0;
    border-left: 3px var(--text-color) solid;
    border-bottom: 3px var(--text-color) solid;
    position: absolute;
    transform: translateX(-9px);
    border-radius: 0 0 0 3em / 3em;
}


/*----------------PROJECTS----------------------------*/

.bottom-project-item {
    border-left: whi 3p t
}

.projectcoverimage {
    max-width: 12vw;
    height: 100%;
    /* Fit tightly around the image */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.projectimage {
    object-fit: cover;
    height: 100%;
    /* Ensures it’s always a square */
    max-width: 100%;
    max-height: 12vw;
    z-index: 105;
    border-radius: 100%;
    border: white 10px solid;
    position: relative;
    /* Required for pseudo-element positioning */
    aspect-ratio: 1 / 1;
}

.projectspinetop::after {
    content: '';
    position: absolute;
    /* Center vertically relative to the container */
    left: 50%;
    /* Adjust to center the origin point */
    width: 50%;
    height: 100%;
    /* Thickness of the white line */
    /* Extend the line to the middle of the viewport */
    /* Make the line visible */
    z-index: 10;
    /* Ensure the line is below other content */
    /*Thickness of the border */
    border-left: 3px solid;
    /* Set the thickness of the border */
    border-image: linear-gradient(to bottom, transparent 50%, white 50%) 1 100%;
}

.projectspinebottom::after {
    content: '';
    position: absolute;
    /* Center vertically relative to the container */
    left: 50%;
    /* Adjust to center the origin point */
    width: 50%;
    height: 100%;
    /* Thickness of the white line */
    /* Extend the line to the middle of the viewport */
    /* Make the line visible */
    z-index: 10;
    /* Ensure the line is below other content */
    /*Thickness of the border */
    border-left: 3px solid;
    /* Set the thickness of the border */
    border-image: linear-gradient(to top, transparent 75%, white 25%) 1 100%;
}

.project-col {
    display: flex;
    align-items: center;
    height: 40vh;
   
    justify-content: center;
    width: fit-content;
    column-gap: 10px;
}

.internal-project-flex {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100%;
}

.projects {
    display: flex;
    max-width: 95vw;
    bottom: 50vh;
    column-gap: 3vw;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 105vw;
    bottom: 50vh;
    border-left: white solid 3px;
    border: 10%;
}

.projects-title{
    position: absolute;
    left:105vw;
    transform: translate(4%,50%);
    top: 5vh;
}



.circle-anchor{
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    background-color: white;
    position: relative;
    transform: translate(-100%,-100%);
    left:0;
    top: 0;
}

.projects-bottom {
    display: flex;
    max-height: 45vh;
    max-width: 65vw;
    top: 50vh;
    column-gap: 3vw;
    flex-direction: row;
    align-items: baseline;
    position: absolute;
    left: 120vw;
}

.project-flex {
    min-width: 20vw;
    min-height: 100%;
    height: fit-content;
    width: fit-content;
    max-width: 40vw;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.bottom {
    bottom: 0;
}

.bottom-spine {
    width: 150vw;
    height: 50vh;
    left: 25vw;
    bottom: 0;
    border-right: 3px var(--text-color) solid;
    border-top: 3px var(--text-color) solid;
    background-color: none;
    z-index: 50;
    position: absolute;
    transform: translate(-9px, -3px);
    border-radius: 3em 3em 0em 3em;
}

.top-spine {
    width: 150vw;
    height: 30vh;
    right: 25vw;
    top: 0;
    background-color: none;
    border-right: 3px var(--text-color) solid;
    border-bottom: 3px var(--text-color) solid;
    background-color: none;
    z-index: 50;
    position: absolute;
    transform: translateX(-9px);
    border-radius: 0em 0em 3em 0em;
}

.middle-horizontal-spine {
    width: 100vw;
    height: 50vh;
    top: 0%;
    border-bottom: 3px var(--text-color) solid;
    position: absolute;
}

.middle-vertical-spine {
    width: 3px;
    height: 75vh;
    bottom: 0;
    top: 25vh;
    left: 50%;
    position: relative;
    background-color: aquamarine;
}

.tag {
    background-color: #03928165;
    width: fit-content;
    margin: 3px;
    display: inline-block;
}

.circle {
    background-color: var(--text-color);
    width: 10vh;
    height: 10vh;
    transform: translate(-2.5vw, 2.5vw);
    top: 45vh;
    left: 100vw;
    position: absolute;
    border-radius: 100%;
}

.circle-4 {
    background-color: var(--text-color);
    width: 10vh;
    height: 10vh;
    transform: translate(-2.5vw, -2.5vw);
    left: 25vw;
    top: 30vh;
    z-index: 100000000000000;
    position: absolute;
    border-radius: 100%;
}

.horizontal {
    width: 40vw;
    height: 3px;
    background-color: pink;
}

.leftline {
    width: 90vw;
    border-left: 3px solid var(--text-color);
    border-bottom: 3px solid var(--text-color);
    height: 100vh;
    top: 0vh;
    left: 5%;
    position: relative;
    background-color: inherit;
    border-radius: 0 0 0 3em / 3em;
}

.rightline {
    width: 90vw;
    border-right: 3px solid var(--text-color);
    border-bottom: 3px solid var(--text-color);
    height: 100vh;
    top: 0vh;
    right: 5%;
    left: 5%;
    position: relative;
    background-color: inherit;
    background-color: white;
    border-radius: 0 0 3em / 3em 0;
}

.list {
    max-width: 25vw;
}