
.projects{
    position: absolute;
    width: 80vw;
    top: 10%;
 
    left: 10vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    height: fit-content;
    padding: 2vw;
    border-radius: 1em;
    row-gap: 1em;
    padding: 1em 1em 10em 1em;
}

.filters{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.filter{
    
    padding: 1em;
    border-radius: 10%;
    text-transform: uppercase;

    background-color: #03928165;
    width: fit-content;
    margin: 3px;
}

.main{
    width: 100%;
    position:  relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    justify-content: space-evenly;
 
}

.project-div{
    align-items: center;
    display: flex;
    flex-direction: column;
padding: 1em;
margin: 1EM;
background-color: #0000008e;
height: fit-content;
width: fit-content;
border-radius: 3%;
}

.project-div img{
    max-height: 60vh;
    max-width: 50vw !important;
}

.horizontal-flex{
display: flex;
flex-direction: row;
column-gap: 1em;
}

.horizontal-flex img{
max-width: 30vw !important;
object-fit: contain;
flex-wrap: wrap;
    }


    .kartproject{
        min-width: 40vw;
        min-height: 20vw;
        object-fit: contain;
    }
.project-div:hover{

color: var(--light-feature-color3);
transition: 0.3s all linear;
transform: scale(1.05);
background-color: #000000d1;

}

.main img{
    max-width: 90%;
    max-height: 20rgba(0, 0, 0, 0.822)
    object-fit: cover;
    border-radius: 1%;
}

.main h2{
 font-size: 1.5em;
}
.background-gif{
    position: fixed;
    z-index: -1000;
    left: 0;
    top: 0;
    width: 100vw  !important;
    height: 100vh !important;
    min-width: 100vw  !important;
    min-height: 100vh !important;
    object-fit: cover;
}