

:root {
    --body-color: black;
    --feature-color1: #c240b3;
    --feature-color2: #039281;
    --feature-color3: #F46554;
    /*#F95738*/
    --text-color: rgb(241, 241, 241);
    ;
}
.projects{
    position: absolute;
    width: 80vw;
    top: 30%;
 
    left: 10vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    height: fit-content;
    padding: 2vw;
    border-radius: 1em;
    row-gap: 1em;
    padding: 1em 1em 10em 1em;
}

.filters{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3em;
}
.filter{
    font-size: 1.3em;
    padding: 1em;
    border-radius: 10%;
    text-transform: uppercase;

    background-color: #03928165;
    background-color: #1b1b1b9a;
    width: fit-content;
    margin: 3px;
}

.filter:hover{
   transition: 0.3s all linear;
    transform: scale(1.1);
    color: var(--feature-color1)
}

.main{
    width: 100%;
    position:  relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    justify-content: space-evenly;
 
}

.project-div{
    align-items: center;
    display: flex;
    flex-direction: column;
padding: 1em;
margin: 1EM;
background-color: #2020208e;
height: fit-content;
width: fit-content;
border-radius: 3%;
}

.project-div img{
    max-height: 60vh;
    max-width: 50vw !important;
}

.horizontal-flex{
display: flex;
flex-direction: row;
column-gap: 1em;
}

.horizontal-flex img{
max-width: 30vw !important;
object-fit: contain;
flex-wrap: wrap;
    }


    .kartproject{
        min-width: 40vw;
        min-height: 20vw;
        object-fit: contain;
    }
.project-div:hover{

color: var(--light-feature-color3);
transition: 0.3s all linear;
transform: scale(1.05);
background-color: #000000d1;

}

.main img{
    max-width: 90%;
    max-height: 20rgba(0, 0, 0, 0.822)
    object-fit: cover;
    border-radius: 1%;
}

.main h2{
 font-size: 1.5em;
}
.background-gif{
    position: fixed;
    z-index: -1000;
    left: 0;
    top: 0;
    width: 100vw  !important;
    height: 100vh !important;
    min-width: 100vw  !important;
    min-height: 100vh !important;
    object-fit: cover;
}