body {
    margin: 0;
    overflow-x: hidden;
}

.main-container {
    position: relative;
    width: 200vw;
    /* Two panels horizontally */
    height: 200vh;
    /* Two panels vertically */
    display: flex;
    flex-wrap: wrap;
}

.panel {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.panel-1 {
    top: 0;
    left: 0;
    background-color: red;
}

.panel-2 {
    top: 0;
    left: 100vw;
    background-color: green;
}

.panel-3 {
    top: 100vh;
    left: 100vw;
    background-color: blue;
}

.panel-4 {
    top: 100vh;
    left: 0;
    background-color: yellow;
}