/*variables:  visual identity/branding colors*/

:root {
    --body-color: rgb(241, 241, 241);
    --feature-color1: #A1659A;
    --feature-color2: #039281;
    --feature-color3: #F46554;
    /*#F95738*/
    --text-color: black;
}

.pre-footer {
    height: 20%;
}

.background-colour {
    background-color: var(--body-color);
}

body {
    color: var(--text-color);
    background-color: var(--body-color);
    border-left: black dashed 10px;
}


/* * means apply those styles to all elements*/

* {
    /*  font-family: "bahnschrift", sans-serif;*/
    font-family: "bahnschrift";
    margin: 0;
    padding: 0;
    color: black;
    scroll-behavior: smooth;
    /*Smooth: scrolls in a smooth fashion using a user-agent-defined timing function over a user-agent-defined period of time. */
    box-sizing: border-box;
    /*If you set box-sizing: border-box; on an element, padding and border are included in the width and height:*/
    scroll-padding-top: 2rem;
}

.page {
    width: 100%;
    height: 100%;
    min-width: 100%;
    z-index: -1000;
}

.panel {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100vh;
    max-height: 100vh;
    min-width: 100vh;
    justify-content: space-between;
    align-items: center;
    margin: 0 5% 0 5%;
}

.textfeature1 {
    color: var(--feature-color1);
}

.textfeature2 {
    color: var(--feature-color2);
}

.textfeature3 {
    color: var(--feature-color3);
}

.panelcol {
    max-width: 65%;
    min-height: 70%;
}

.panelcolimage {
    width: 40%;
    text-align: left;
}

.coverimage {
    position: relative;
    left: 0;
    object-fit: contain;
    max-height: 90%;
    max-width: 80%;
    top: 0;
    margin: auto;
    border-radius: 10%;
    border: 23px white solid;
}

img {
    max-width: 90%;
    max-height: 90%;
}

.largeimage {
    max-width: 90%;
    max-height: 90%;
}

.bottom-justified {
    justify-content: end;
    align-items: end;
}

.center-justified {
    align-content: center;
    justify-content: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 3em;
    height: 100%;
    width: 100%;
}

.row {
    height: fit-content;
}

h1 {
    margin: 0;
    padding: 0;
    color: red;
    line-height: 0.8;
    font-size: 6em;
    font-weight: bolder;
    text-transform: uppercase;
}

.smallerh1 {
    font-size: 3.5em;
}

.right-aligned {
    text-align: right;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 3em;
}

h3 {
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}

p {
    font-size: 1.2em;
    line-height: 1.2;
}

.narrow-message {
    max-width: 60%;
}


/* width 

::-webkit-scrollbar {
    width: 20px;
}*/


/* Track 
 ::-webkit-scrollbar-track {
    background-color: var(--feature-color2);
}*/


/* Handle

 ::-webkit-scrollbar-thumb {
    background: var(--text-color);
} */


/*Nav Bar*/

.nav_container_container {
    background-color: var(--light-feature-color2) !important;
    color: white;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    padding-bottom: 1rem;
    width: 100%;
    z-index: 1000000;
}

.nav_container {
    display: flex;
    background-color: none;
    color: inherit;
    align-items: center;
    padding-top: 01rem;
    justify-content: space-around;
    width: 55%;
    right: 10px;
    position: absolute;
    z-index: 1000000;
    height: 5%;
}

.nav_active {
    color: var(--light-feature-color1) !important;
    font-weight: 700;
}

.nav_item,
a {
    text-decoration: none;
    font-weight: 1000;
}

.nav_item:hover {
    color: var(--light-feature-color3);
    transition: 0.3s all linear;
    transform: scale(1.1);
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 2em;
    font-size: 3em;
}

.buttons button {
    border: none;
    font-size: 0.5em;
    background-color: var(--feature-color2);
    padding: 0.3em;
    border-radius: 5%;
}

.gallery {
    margin: 2em;
}

.cover-vid {
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    z-index: -40;
    position: fixed;
    right: 0;
}

.transparent-cover {
    background-color: #00000084;
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    opacity: 0;
    height: 100vh;
    z-index: 50;
}